
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.04);
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 99999;
    background-color: #fff;
    opacity: 0.9; 
}

ul{
    display: flex;

}
header ul li{
    list-style: none;
    padding: 1em 2em;
    
}
header ul li a{
    text-decoration: none;
    color: #191F2B;
    font-size: 1em;
}

header ul li a:hover {
    font-weight: 500;
}


.btn-like {
    padding: 1em 2em;
    background: #604AED;
    border-radius: 8px;
    margin-left: 20px;
}
.btn-like a {
    color: white;
}
.btn-like a:hover {
    color: #604AED;
}

.btn-like:hover {
    border: 2px solid #604AED;
    background-color: #fff;
}

.left-line {
    border-right: 1px solid #604AED;
}

.hide-icon {
   display: none;
}
.mobile-menu {
    display: none;
}

@media screen and (max-width:768px) {

    /* This is the header and navbar section */
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.04);
        height: 100px;
    }
    .open-icon {
        display: block;
        position: absolute;
        top: 20px;
        right: 0.5em;
        font-size: 2.5em;
        cursor: pointer;        
    }
    .close-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0.25em;
        font-size: 4em;
        cursor: pointer;
        transition: 5s ease;
    }
    .logo {
        padding-left: 1.5em;
    }

    .primary-menu, .secondary-menu {
        display: none;
    }

    .mobile-menu li {
        padding: 1.5em 1em;
        border-bottom: 1px solid white;
        width: 100%;
    }

    .mobile-menu a {
        color: white;
        margin-left: 20px;
    }
    .mobile-menu li a:hover {
        text-decoration: underline;
        font-weight: 500px;
    }
    .mobile-list{
        display: block;
        position: absolute;
        top: 100px;
        padding: 1.5em 1em 0 1em;
        width: 100%;
        min-height: 100vh;
        background-color: #191F2B;
    }
}