.rate-table-h3 {
    font-size: 48px;
    text-align: center;
    color: #191F2B;
    margin-top: 50px;
}
.rate-table-p {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #B5B5B5;
    margin-top: 10px;
}
.wide-screen {
    margin: 80px auto 0 auto;
    text-align: center;
}
.wide-view {
    width: 100%;
    height: auto;
    max-width: 1109px;
}
.rate-mobile-view {
    display: none;
}

.rate-table-h3 {
    font-size: 48px;
    text-align: center;
    color: #191F2B;
    margin-top: 50px;
}
.rate-table-p {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #B5B5B5;
    margin-top: 10px;
}
.wide-screen {
    margin: 80px auto 0 auto;
    text-align: center;
}
.wide-view {
    width: 100%;
    height: auto;
    max-width: 1109px;
}
.rate-mobile-view {
    display: none;
}

@media screen and (max-width: 768px) {
    .rate-table-h3, .rate-table-p, .wide-screen {
        display: none;
    }
    .rate-mobile-view {
        display: block;
    }
    .rate-mobile-view {
        text-align: center;
        margin-top: 50px;
    }

    .m-view-img {
        width: 100%;
        height: auto;
        max-width: 380px;
        margin-top: 50px;
    }
    .m-view-h3 {
        font-size: 30px;
        font-weight: bold;
        
        color: #191F2B;
        
    }
    .m-view-p {
        font-size: 15px;
        line-height: 20px;
        color: #B5B5B5;
        margin-top: 20px;
        padding: 0 100px;
    }
}